body {
  font-family: 'Kaushan Script', cursive;
  background: #39C4A2;
  color: maroon; }
  body button {
    background: purple;
    height: 2em;
    border: none;
    -webkit-border-radius: 0.5em;
    color: #fff;
    width: 20em; }
